In [2]:
import pandas as pd
import numpy as np

In [6]:
a = [2,5,7,9,11]

In [7]:
b = pd.Series(a)

In [8]:
b

0     2
1     5
2     7
3     9
4    11
dtype: int64

In [9]:
b = pd.Series(a,index= [0,1,2,3,4])

In [10]:
b

0     2
1     5
2     7
3     9
4    11
dtype: int64

In [11]:
b = pd.Series(a,index=['a','b','c','d','e'])

In [12]:
b

a     2
b     5
c     7
d     9
e    11
dtype: int64

In [14]:
from datetime import date

In [16]:
ind = [date(y,m,d) for y,m,d in [(2018,1,15),(2018,1,17),(2018,1,19),(2018,1,21),(2018,1,23)]]

In [19]:
b = pd.Series(a,index = ind)

In [20]:
b

2018-01-15     2
2018-01-17     5
2018-01-19     7
2018-01-21     9
2018-01-23    11
dtype: int64

In [21]:
b.index

Index([2018-01-15, 2018-01-17, 2018-01-19, 2018-01-21, 2018-01-23], dtype='object')

In [22]:
b.index[0].year

2018

In [23]:
b.index[0].day

15

In [24]:
b.index = pd.to_datetime(b.index, format='%Y-%m-%d')

In [25]:
b.index

DatetimeIndex(['2018-01-15', '2018-01-17', '2018-01-19', '2018-01-21',
               '2018-01-23'],
              dtype='datetime64[ns]', freq=None)

In [26]:
b.index.year

Int64Index([2018, 2018, 2018, 2018, 2018], dtype='int64')

In [27]:
b.index.month

Int64Index([1, 1, 1, 1, 1], dtype='int64')

In [28]:
b.index.day

Int64Index([15, 17, 19, 21, 23], dtype='int64')

In [30]:
b = pd.Series(a,index = [0,1,0,2,1])

In [31]:
b

0     2
1     5
0     7
2     9
1    11
dtype: int64

In [32]:
b.index = [10,11,12,13,14]
b

10     2
11     5
12     7
13     9
14    11
dtype: int64

In [33]:
b = pd.Series(a,dtype = np.float64)

In [34]:
b

0     2.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float64

In [35]:
b = pd.Series(a)
b = b.astype(np.float64)
b

0     2.0
1     5.0
2     7.0
3     9.0
4    11.0
dtype: float64

In [36]:
d = {'1st':'a','2st':'b','3st':'c','4st':'d','5st':'e'}
b = pd.Series(d)
b

1st    a
2st    b
3st    c
4st    d
5st    e
dtype: object

In [37]:
b = pd.Series([5,7,2,3,4,5,6,7,8,9,90])
b.index

RangeIndex(start=0, stop=11, step=1)

In [38]:
b.values

array([ 5,  7,  2,  3,  4,  5,  6,  7,  8,  9, 90], dtype=int64)

In [39]:
b[0]

5

In [40]:
b[3]

3

In [42]:
b[[1,2,5]]

1    7
2    2
5    5
dtype: int64

In [43]:
b.head()

0    5
1    7
2    2
3    3
4    4
dtype: int64

In [44]:
b.head(3)

0    5
1    7
2    2
dtype: int64

In [45]:
b.tail()

6      6
7      7
8      8
9      9
10    90
dtype: int64

In [46]:
b.tail(3)

8      8
9      9
10    90
dtype: int64

In [47]:
b

0      5
1      7
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    90
dtype: int64

In [48]:
b[b>5]

1      7
6      6
7      7
8      8
9      9
10    90
dtype: int64

In [49]:
b[(b==7)|(b%3 ==0)]

1      7
3      3
6      6
7      7
9      9
10    90
dtype: int64

In [50]:
b

0      5
1      7
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    90
dtype: int64

In [51]:
b[5] = -5

In [52]:
b

0      5
1      7
2      2
3      3
4      4
5     -5
6      6
7      7
8      8
9      9
10    90
dtype: int64

In [53]:
b[b<5]=0

In [54]:
b

0      5
1      7
2      0
3      0
4      0
5      0
6      6
7      7
8      8
9      9
10    90
dtype: int64

In [55]:
b[[0,1,2]] = -999

In [56]:
b

0    -999
1    -999
2    -999
3       0
4       0
5       0
6       6
7       7
8       8
9       9
10     90
dtype: int64

In [59]:
b = b.append(pd.Series({1:1, 3:3, 101:101}))
b

0     -999
1     -999
2     -999
3        0
4        0
5        0
6        6
7        7
8        8
9        9
10      90
1        1
3        3
101    101
dtype: int64

In [60]:
b = b.drop([0,1,2])

In [61]:
b

3        0
4        0
5        0
6        6
7        7
8        8
9        9
10      90
3        3
101    101
dtype: int64

In [62]:
b.to_pickle('b.pkl')

In [63]:
b2 = pd.read_pickle('b.pkl')

In [64]:
b2

3        0
4        0
5        0
6        6
7        7
8        8
9        9
10      90
3        3
101    101
dtype: int64